<div class="row">
  <div class="col-sm-12">
    <div style="text-align:left">
      <a routerLink="/accordion"> <span class="navbar-brand mb-0 h1">Accordion</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/alert"> <span class="navbar-brand mb-0 h1">Alert</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/buttons"> <span class="navbar-brand mb-0 h1">Buttons</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/carousel"> <span class="navbar-brand mb-0 h1">Carousel</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/collapse"> <span class="navbar-brand mb-0 h1">Collapse</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/datepicker"> <span class="navbar-brand mb-0 h1">Datepicker</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/dropdown"> <span class="navbar-brand mb-0 h1">Dropdown</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/modal"> <span class="navbar-brand mb-0 h1">Modal</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/pagination"> <span class="navbar-brand mb-0 h1">Pagination</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/popover"><span class="navbar-brand mb-0 h1">Popover</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/progressbar"> <span class="navbar-brand mb-0 h1">Progressbar</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/rating"> <span class="navbar-brand mb-0 h1">Rating</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/tabset"> <span class="navbar-brand mb-0 h1">Tabset</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/timepicker"><span class="navbar-brand mb-0 h1">Timepicker</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/tooltip"> <span class="navbar-brand mb-0 h1">Tooltip</span></a>
    </div>
    <div style="text-align:left">
      <a routerLink="/typeahead"> <span class="navbar-brand mb-0 h1">Typeahead</span></a>
    </div>
  </div>